<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div class="logo">
      <a href="#">LightQuiz</a>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/quizzes/new">Create Quiz</a></li>
      <li><a href="#">My Quizzes</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
  </nav>
  <main>
    <section class="slogan">
      <h2>Brighten Your Coding Future with LightQuiz</h2>
    </section>
    <section class="quizzes">
      <div class="quiz">
        <h3>Quiz 1</h3>
        <a href="#" class="button">Start Quiz</a>
      </div>
      <div class="quiz">
        <h3>Quiz 2</h3>
        <a href="#" class="button">Start Quiz</a>
      </div>
      <div class="quiz">
        <h3>Quiz 3</h3>
        <a href="#" class="button">Start Quiz</a>
      </div>
      <div class="quiz">
        <h3>Quiz 4</h3>
        <a href="#" class="button">Start Quiz</a>
      </div>
      <div class="quiz">
        <h3>Quiz 5</h3>
        <a href="#" class="button">Start Quiz</a>
      </div>
      <div class="quiz">
        <h3>Quiz 6</h3>
        <a href="#" class="button">Start Quiz</a>
      </div>
    </section>

  </main>
  <footer>
    <p>&copy; 2023 LightQuiz. All Rights Reserved.</p>
  </footer>
</body>

      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Create Quiz</a></li>
        <li><a href="#">My Quizzes</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </nav>
    <main>
      <section class="slogan">
        <h2>Brighten Your Coding Future with LightQuiz</h2>
      </section>
      <section class="quizzes">
        <div class="quiz">
          <h3>Quiz 1</h3>
          <a href="#" class="button">Start Quiz</a>
        </div>
        <div class="quiz">
          <h3>Quiz 2</h3>
          <a href="#" class="button">Start Quiz</a>
        </div>
        <div class="quiz">
          <h3>Quiz 3</h3>
          <a href="#" class="button">Start Quiz</a>
        </div>
        <div class="quiz">
          <h3>Quiz 4</h3>
          <a href="#" class="button">Start Quiz</a>
        </div>
        <div class="quiz">
          <h3>Quiz 5</h3>
          <a href="#" class="button">Start Quiz</a>
        </div>
        <div class="quiz">
          <h3>Quiz 6</h3>
          <a href="#" class="button">Start Quiz</a>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 LightQuiz. All Rights Reserved.</p>
    </footer>
  </body>
</html>
