<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Score</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <nav>
    <div class="logo">
      <a href="#">LightQuiz</a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/quizzes/new">Create Quiz</a></li>
      <li><a href="/quizzes/myquizzes">My Quizzes</a></li>
      <li><a href="#">Log In</a></li>
    </ul>
  </nav>
  <section>
    <div class="result-container">
      <h1>Your Quiz Score</h1>
      <h2 class="score"><%=score%>/<%=total%></h2>

      <div class="questions">
        <ol>
          <p>Question 1:</p>
          <ul>
            <li><span class="correct">Correct answer:</span></li>
            <li><span class="user-answer">Your answer:</span></li>
          </ul>

          <p>Question 2:</p>
          <ul>
            <li><span class="correct">Correct answer:</span></li>
            <li><span class="user-answer">Your answer:</span></li>
          </ul>

          <p>Question 3:</p>
          <ul>
            <li><span class="correct">Correct answer:</span></li>
            <li><span class="user-answer">Your answer:</span></li>
          </ul>

          <p>Question 4:</p>
          <ul>
            <li><span class="correct">Correct answer:</span></li>
            <li><span class="user-answer">Your answer:</span></li>
          </ul>

          <p>Question 5:</p>
          <ul>
            <li><span class="correct">Correct answer:</span></li>
            <li><span class="user-answer">Your answer:</span></li>
          </ul>

        </ol>
      </div>

      <div class="buttons">
        <button class="share-result">Share Result</button>
        <button class="share-quiz">Share Quiz</button>
        <button class="retake">Retake</button>
      </div>

    </div>
  </section>
  <footer>
    <p>&copy; 2023 LightQuiz. All rights reserved.</p>
  </footer>
</body>

</html>
