// See: https://sass-lang.com/

body {
  background-color: #252c4a;
  color: white;
  font-family: "Russo One", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
}

nav {
  background-color: #1d2236;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-family: "Russo One", sans-serif;
  font-size: 36px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

form div {
  margin: 1rem 0;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 24px;
}

form input[type="text"],
form input[type="radio"] {
  padding: 0.5rem;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #1d2236;
  color: white;
  margin-top: 0.5rem;
}

form input[type="radio"] {
  margin-right: 0.5rem;
}

form button {
  padding: 0.5rem 1rem;
  font-size: 24px;
  background-color: #1d2236;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.privacy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy input[type="radio"] {
  margin-right: 0.5rem;
}

.privacy label {
  margin-right: 1rem;
}

ol {
  list-style-type: upper-alpha;
}

.quizzes {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: calc(33.33% - 2rem);
  max-width: 300px;
}

.quiz h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.quiz p {
  margin: 0;
}

/*My quizzes page*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  padding: 3rem;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1d2236;
  display: flex;
  justify-content: space-between;
}

.quiz-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style the quiz-card */
.quiz-card {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}
.quiz-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* Style the quiz-title */
.quiz-title {
  color:#03A9F4;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style the quiz-actions */
.quiz-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Style the buttons */
.btn {
  color: white;
  background-color: #0066cc;
  //background-color: #107eeb;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.quiz-actions .start-btn {
  margin-right: 20px;
}
.btn:hover {
  background-color: #0b5eb6;
}

.quiz-actions button {
  margin-right: 20px;
}

/* Style the start-btn */
.start-btn {
  background-color: #03A9F4;
  text-decoration: none;
}

/* Style the share-quiz button */
.share-quiz {
  background-color: #33cc33;
}

/* Style the share box */
.share-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.share-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.share-box button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.share-box button:hover {
  background-color: #0069d9;
}

/* */

/*Quiz Section*/
#quiz {
  max-width: 800px;
  margin: 50px auto;
  background-color: #0b5eb6;
  padding: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#quiz-form {
  margin-bottom: 30px;
}

#quiz-form p {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

#quiz-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

#quiz-form input[type="radio"] {
  margin-right: 10px;
}

#quiz-nav {
  display: flex;
  justify-content: space-between;
}

#quiz-submit-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#quiz-submit-btn:hover {
  background-color: #1d2236;
}
/* */

/*Quiz Result Page*/
.result-container {
  max-width: 700px;
  height: 650px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.result-container h1 {
  color: #0b5eb6;
  font-size: 2rem;
  margin-top: 0px;
}

.result-container h2.score {
  font-size: 2rem;
  color: #8bc34a;
}

.result-container .questions {
  margin-top: 0px;
  text-align: left;
}

.result-container .questions p {
  color: #0b5eb6;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0px;
}

.result-container .questions ul {
  list-style: none;
  margin: 10px 0 30px;
}

.result-container .questions ul li span {
  font-size: 1rem;
}

.result-container .questions ul li span.correct {
  color: #8bc34a;
}

.result-container .questions ul li span.user-answer {
  color: #03a9f4;
}

.result-container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container .buttons button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.result-container .buttons button.share-result {
  background-color: #8bc34a;
  color: #fff;
}

.result-container .buttons button.share-result:hover {
  background-color: #689f38;
}

.result-container .buttons button.share-quiz {
  background-color: #ffc107;
  color: #fff;
}

.result-container .buttons button.share-quiz:hover {
  background-color: #ffa000;
}

.result-container .buttons button.retake {
  background-color: #03a9f4;
  color: #fff;
}

.result-container .buttons button.retake:hover {
  background-color: #039be5;
}
/**/

/* center h1 */
h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}

.privacy input[type="checkbox"] + input[type="checkbox"] {
  margin-left: 20px;
}

.add-question-button {
  background-color: #0066cc;
  color: #fff;
  margin-right: 20px;
}

.create-quiz-button {
  background-color: #00cc66;
  color: #fff;
}

.create-quiz-form button:hover {
  opacity: 0.8;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #1d2236;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

h3 {
  color: #07396f;
}
