body {
  background-color: #252C4A;
  color: white;
  font-family: 'Russo One', sans-serif;
  margin: 0;
}

nav {
  background-color: #1D2236;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-family: 'Russo One', sans-serif;
  font-size: 36px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', sans-serif;
}

.hero {
  text-align: center;
  padding: 3rem 0;
}

.quizzes {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: calc(33.33% - 2rem);
  max-width: 300px;
}

footer {
  background-color: #1D2236;
  padding: 1rem;
  text-align: center;
}

